@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    color: black;
}

.menu-list {
    display: flex;
    list-style-type: none;
    gap: 10px;
}

.menu-list a {
    text-decoration: none;
    color: darkgray;
    text-transform: uppercase;
}

.menu-list a.active {
    color: black;
}

.list {
    list-style-type: none;
}

.list a {
    text-decoration: none;
    color: black;
}

a.style {
    text-decoration: none;
    color: black;
}

.comments-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.comment {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.album-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.album-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 150px;
    height: 100%;
}

.top-margin {
    display: inline-block;
    margin-top: 10px;
}

a.top-margin {
    color: brown;
}